<h1 class="banner">Stupid Coach</h1>
<form action="/answer" method="get">
  <input type="text" name="input" placeholder="Ask me a question!">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
